<div class="filterDiv">
    <select class="notOperator">
        <option <%= filter.attr('not') === false? "selected='selected'" : "" %>> </option>
        <option <%= filter.attr('not') === true? "selected='selected'" : "" %>>!</option>
    </select>

    <select class="filterSelect" <%= "value='" + filter.attr('selection') + "'" %>>
        <option></option>
        <% aoColumns = masterDataTable.fnSettings().aoColumns;
        for(var c in aoColumns) { %>
            <option <%= "value=\"" + aoColumns[c].sTitle + "\"" %>
                <% if(aoColumns[c].sTitle === filter.attr('selection')) { %>
                    selected="selected"
                <% } %>><%= aoColumns[c].sTitle %></option>
        <% } %>
    </select>
    <select class="filterOperator">
        <% var options = ['<', '>', '=', '<=', '>=', 'equals', 'contains', 'startsWith'];
            for(option in options) { %>
                <option class="num" <%= filter.attr('operator') === options[option]? "selected='selected'" : "" %>><%= options[option] %></option>
            <% } %>
    </select>
    <input type="text" name="filterText" class="filterText" <%= "value='" + filter.attr('text') + "'"%> />

    <button class="deleteFilter">Delete</button>
</div>