<div class="filterDiv">
    <select class="notOperator">
        <option <%= filter.attr('not') === false? "selected='selected'" : "" %>> </option>
        <option <%= filter.attr('not') === true? "selected='selected'" : "" %>>!</option>
    </select>

    <%== can.view.render('static/data_app/views/filterSelect.ejs', {
        filter: filter
    }) %>

    <select class="filterOperator">
        <% var options = ['<', '>', '=', '<=', '>=', 'equals', 'contains', 'startsWith'];
            for(option in options) { %>
                <option class="num" <%= filter.attr('operator') === options[option]? "selected='selected'" : "" %>><%= options[option] %></option>
            <% } %>
    </select>
    <input type="text" name="filterText" class="filterText" <%= "value='" + filter.attr('text') + "'"%> />

    <button class="deleteFilter">Delete</button>
</div>