<div class="filterDiv">
    <select class="notOperator">
        <option <%= filter.attr('not') === false? "selected='selected'" : "" %>> </option>
        <option <%= filter.attr('not') === true? "selected='selected'" : "" %>>!</option>
    </select>

    <%== can.view.render('static/data_app/views/filterSelect.ejs', {
        filter: filter
    }) %>

    <select class="filterOperator">
        <%  var options;
            calculateIndexNums();
            if(CourseData.masterDataTable.fnSettings().aoColumns[CourseData.indexNums[filter.selection]].sType === "string") {
                options = CourseData.stringOperatorOptions;
            }else {
                options = CourseData.numericOperatorOptions;
            }

            for(var option in options) { %>
                <option <%= filter.attr('operator') === options[option]? "selected='selected'" : "" %>><%= options[option] %></option>
            <% } %>
    </select>
    <input type="text" name="filterText" class="filterText" <%= "value='" + filter.attr('text') + "'"%> />

    <button class="deleteFilter">Delete</button>
</div>